@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/avenir-next/avenir-next-regular.eot"); /* IE9 Compat Modes */
  src: url("../assets/fonts/avenir-next/avenir-next-regular.eot?#iefix")
      format("embedded-opentype"),
    /* Super Modern Browsers */
      url("../assets/fonts/avenir-next/avenir-next-regular.woff") format("woff"),
    /* Pretty Modern Browsers */
      url("../assets/fonts/avenir-next/avenir-next-regular.ttf")
      format("truetype"); /* Safari, Android, iOS */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/avenir-next/avenir-next-italic.eot"); /* IE9 Compat Modes */
  src: url("../assets/fonts/avenir-next/avenir-next-italic.eot?#iefix")
      format("embedded-opentype"),
    /* Super Modern Browsers */
      url("../assets/fonts/avenir-next/avenir-next-italic.woff") format("woff"),
    /* Pretty Modern Browsers */
      url("../assets/fonts/avenir-next/avenir-next-italic.ttf")
      format("truetype"); /* Safari, Android, iOS */
  font-style: italic;
}

@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/avenir-next/avenir-next-medium.eot"); /* IE9 Compat Modes */
  src: url("../assets/fonts/avenir-next/avenir-next-medium.eot?#iefix")
      format("embedded-opentype"),
    /* Super Modern Browsers */
      url("../assets/fonts/avenir-next/avenir-next-medium.woff") format("woff"),
    /* Pretty Modern Browsers */
      url("../assets/fonts/avenir-next/avenir-next-medium.ttf")
      format("truetype"); /* Safari, Android, iOS */
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/avenir-next/avenir-next-demi.eot"); /* IE9 Compat Modes */
  src: url("../assets/fonts/avenir-next/avenir-next-demi.eot?#iefix")
      format("embedded-opentype"),
    /* Super Modern Browsers */
      url("../assets/fonts/avenir-next/avenir-next-demi.woff") format("woff"),
    /* Pretty Modern Browsers */
      url("../assets/fonts/avenir-next/avenir-next-demi.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/avenir-next/avenir-next-bold.eot"); /* IE9 Compat Modes */
  src: url("../assets/fonts/avenir-next/avenir-next-bold.eot?#iefix")
      format("embedded-opentype"),
    /* Super Modern Browsers */
      url("../assets/fonts/avenir-next/avenir-next-bold.woff") format("woff"),
    /* Pretty Modern Browsers */
      url("../assets/fonts/avenir-next/avenir-next-bold.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/avenir-next/avenir-next-thin.eot"); /* IE9 Compat Modes */
  src: url("../assets/fonts/avenir-next/avenir-next-thin.eot?#iefix")
      format("embedded-opentype"),
    /* Super Modern Browsers */
      url("../assets/fonts/avenir-next/avenir-next-thin.woff") format("woff"),
    /* Pretty Modern Browsers */
      url("../assets/fonts/avenir-next/avenir-next-thin.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Boing";
  src: url("../assets/fonts/boing/Boing_SemiboldWEB.eot"); /* IE9 Compat Modes */
  src: url("../assets/fonts/boing/Boing_SemiboldWEB.eot?#iefix")
      format("embedded-opentype"),
    /* Super Modern Browsers */
      url("../assets/fonts/boing/Boing_SemiboldWEB.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Chronica";
  src: url("../assets/fonts/chronica/ChronicaPro-Regular.eot"); /* IE9 Compat Modes */
  src: url("../assets/fonts/chronica/ChronicaPro-Regular.eot?#iefix")
      format("embedded-opentype"),
    /* Super Modern Browsers */
      url("../assets/fonts/chronica/ChronicaPro-Regular.woff") format("woff"),
    /* Pretty Modern Browsers */
      url("../assets/fonts/chronica/ChronicaPro-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Chronica";
  src: url("../assets/fonts/chronica/ChronicaPro-Medium.eot"); /* IE9 Compat Modes */
  src: url("../assets/fonts/chronica/ChronicaPro-Medium.eot?#iefix")
      format("embedded-opentype"),
    /* Super Modern Browsers */
      url("../assets/fonts/chronica/ChronicaPro-Medium.woff") format("woff"),
    /* Pretty Modern Browsers */
      url("../assets/fonts/chronica/ChronicaPro-Medium.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Chronica";
  src: url("../assets/fonts/chronica/ChronicaPro-SemiLight.eot"); /* IE9 Compat Modes */
  src: url("../assets/fonts/chronica/ChronicaPro-SemiLight.eot?#iefix")
      format("embedded-opentype"),
    /* Super Modern Browsers */
      url("../assets/fonts/chronica/ChronicaPro-SemiLight.woff") format("woff"),
    /* Pretty Modern Browsers */
      url("../assets/fonts/chronica/ChronicaPro-SemiLight.ttf")
      format("truetype"); /* Safari, Android, iOS */
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("../assets/fonts/graphik/Graphik-Light.eot"); /* IE9 Compat Modes */
  src: url("../assets/fonts/graphik/Graphik-Light.eot?#iefix")
      format("embedded-opentype"),
    /* Super Modern Browsers */
      url("../assets/fonts/graphik/Graphik-Light.woff") format("woff"),
    /* Pretty Modern Browsers */
      url("../assets/fonts/graphik/Graphik-Light.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("../assets/fonts/graphik/Graphik-Regular.eot"); /* IE9 Compat Modes */
  src: url("../assets/fonts/graphik/Graphik-Regular.eot?#iefix")
      format("embedded-opentype"),
    /* Super Modern Browsers */
      url("../assets/fonts/graphik/Graphik-Regular.woff") format("woff"),
    /* Pretty Modern Browsers */
      url("../assets/fonts/graphik/Graphik-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("../assets/fonts/graphik/Graphik-Medium.eot"); /* IE9 Compat Modes */
  src: url("../assets/fonts/graphik/Graphik-Medium.eot?#iefix")
      format("embedded-opentype"),
    /* Super Modern Browsers */
      url("../assets/fonts/graphik/Graphik-Medium.woff") format("woff"),
    /* Pretty Modern Browsers */
      url("../assets/fonts/graphik/Graphik-Medium.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: 500;
  font-style: normal;
}
