html,
body {
  font-size: 16px;
}

@media (min-width: 600px) {
  html,
  body {
    font-size: 17px;
  }
}

@media (min-width: 800px) {
  html,
  body {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  html,
  body {
    font-size: 19px;
  }
}

:root {
  /* SPACE */
  --space-unit: 1em;
  --space-1: calc(0.25 * var(--space-unit));
  --space-2: calc(0.5 * var(--space-unit));
  --space-3: calc(0.75 * var(--space-unit));
  --space-4: calc(1.25 * var(--space-unit));
  --space-5: calc(2 * var(--space-unit));
  --space-6: calc(3.25 * var(--space-unit));
  --space-7: calc(5.25 * var(--space-unit));

  /* TEXT */

  --font-primary: "Inter", Helvetica, Arial, "sans-serif";

  --text-base-size: 1em;
  --text-scale-ratio: 1.4;

  --font-size-1: calc(1em / var(--text-scale-ratio) * 1);
  --font-size-2: calc(1em / var(--text-scale-ratio) * 1.4);
  --font-size-3: calc(1em / var(--text-scale-ratio) * 1.8);
  --font-size-4: calc(1em / var(--text-scale-ratio) * 2);
  --font-size-5: calc(1em / var(--text-scale-ratio) * 3.6);
  --font-size-6: calc(1em / var(--text-scale-ratio) * 3.9);
  --font-size-7: calc(1em / var(--text-scale-ratio) * 5);
  --p: calc(1em / var(--text-scale-ratio) * 1);

  /* COLORS */
  --color-dark: #808080;
  --color-darker: #444444;
  --color-darkest: #000;

  --color-light: #eee;
  --color-lighter: #f5f5f5;
  --color-lightest: #fff;

  /* BOX MODEL */
  --border-radius: 4px;
  --box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  --box-shadow-large: 0px 22px 42px 8px rgba(0, 0, 0, 0.1);

  /* NAVBAR */
  --navbar-height: 100px;
}

/* BREAKPOINTS */

@media (min-width: 600px) {
  :root {
    --text-base-size: 1em;
    --text-scale-ratio: 1.6;
  }
}

@media (min-width: 800px) {
  :root {
    --text-base-size: 1em;
    --text-scale-ratio: 1.4;
  }
}

@media (min-width: 1200px) {
  :root {
    --text-base-size: 1.4em;
    --text-scale-ratio: 1.4;
  }
}

.inverted {
  --color-dark: #eee;
  --color-darker: #f5f5f5;
  --color-darkest: #fff;

  --color-light: #808080;
  --color-lighter: #444444;
  --color-lightest: #000;

  background-color: var(--color-lightest);
  color: var(--color-darkest);
}
